.contentBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  margin: auto;
}



.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}


.itempageSwiper {
  height: 24rem;
}

.itempageSwiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.textContainer {
  /* background-color: #f8f8f8; */
  padding: 0.5rem 0.5rem;
}

