html,
body {
  width: 100vw;
  /* height: -webkit-fill-available; */
  overflow-x: hidden;
  position: relative;
  height: 100%;
  font-weight: 300;
}

#root {
  /* padding: 20px; */
}

.absolute-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.border-radius-standard {
  border-radius: 12px;
}

.center-children-x-y {
  @apply flex flex-col space-y-4 items-center justify-center;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.standard-shadow {
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px 4px;
}

.tab-swiper .swiper-slide {
  width: initial !important;
  /* @apply rounded-2xl px-2; */
  padding: 0 0.5rem;
}

.swiper,
.swiper-slide {
  width: 100%;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.main-appcontainer {
  padding: 1rem 0;
}

.header {
  background-color: white;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
