.closeButton {
    align-self: end;
}

.dialog {
    width: 100%;
    height: 100%;
    max-height: 25rem;
    max-width: 25rem;

    text-align: center;

    &:focus-visible {
        outline: none;
    }

    &::backdrop {
        backdrop-filter: blur(10px)  brightness(50%);
    }
}

.dialogContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.offerThumbnail {
    width: clamp(10rem, 25%, 15rem);
}